@use "sass:map";

// Base theme that all other themes extend
$base: (
    // TODO: set highlight colors
    highlight-fg: #0d6efd,
    highlight-bg: #cfe2ff,
    highlight-fg-em: #6ea8fe,
    highlight-bg-em: #9ec5fe,

    primary-fg: #F8F9FA,
    primary-bg: #1A1D20,
    primary-fg-em: #FFFFFF,
    primary-bg-em: #343A40,

    secondary-fg: #DEE2E6,
    secondary-bg: #212529,
    secondary-fg-em: #FFFFFF,
    secondary-bg-em: #2B3035,

    // TODO: set tertiary colors
    tertiary-fg: #000000, 
    tertiary-bg: #000000,
    tertiary-fg-em: #000000,
    tertiary-bg-em: #000000,

    alert-fg: #0DCAF0,
    alert-bg: #032830,
    alert-fg-em: #6EDFF6,
    alert-bg-em: #087990,

    
    success-fg: #198754,
    success-bg: #051B11,
    success-fg-em: #75B798,
    success-bg-em: #0F5132,

    warning-fg: #FFC107,
    warning-bg: #332701,
    warning-fg-em: #FFDA6A,
    warning-bg-em: #997404,

    danger-fg: #DC3545,
    danger-bg: #2C0B0E,
    danger-fg-em: #EA868F,
    danger-bg-em: #842029,

    text-light: #FFFFFF,
    text-dark: #000000,

    text-hyperlink: #0D6EFD,
    text-hyperlink-em: #6EA8FE
);

$dark: map.merge( 
    $base,
    (/* the base theme is the dark theme so there are no overrides*/)
);