body {
    text-align: center;
    background-color: rgb(0, 0, 70);
    color: rgb(188, 188, 188);
}

.titleBar {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(0, 0, 139);
    color: grey;
}