@mixin make-container($flex-direction, $width, $height) {
    display: flex;
    flex-direction: $flex-direction;
    
    width: $width;
    height: $height;
}

@mixin make-row($height, $width: 100%) {
    @include make-container(row, $width, $height);
}

@mixin make-col($width, $height: 100%) {
    @include make-container(column, $width, $height);
}