@use "sass:map";
@use "../maps/_spacing.scss";
@use "../maps/_border.scss";
@use "../mixins/_layout.scss";

// Style for headers
.header {
    color: var(--primary-fg);
    background-color: var(--primary-bg);

    padding: map.get(spacing.$padding, xl);
    border-bottom: 
        map.get(border.$size, normal) 
        solid 
        var(--primary-bg-em)
    ;
}

// Style for footers
.footer {
    padding: map.get(spacing.$padding, m);
    margin-top: auto;
}

// Nav menu and nav link style
.nav-menu {
    // All nav menu style
    &-h, &-v {
        color: var(--primary-fg);
        background-color: var(--primary-bg);
        
        // Nav link style
        a {
            padding: map.get(spacing.$padding, m);

            &:hover {
                background-color: var(--primary-bg-em);
                color: var(--primary-fg-em);
            }
        }
    }

    // Horizontal nav menu only style
    &-h {
        @include layout.make-row($width: auto, $height: 100%);
        
        // Nav link style
        a {
            text-align: center;
            border-right: 
                map.get(border.$size, thin) 
                solid 
                var(--primary-bg-em)
            ;
        }
    }

    // Vertical nav menu only style
    &-v {
        @include layout.make-col($width: 100%, $height: auto);
        border-bottom: 
            (map.get(border.$size, normal) - map.get(border.$size, thin))
            solid 
            var(--primary-bg-em)
        ;
        
        // Nav link style
        a {
            border-bottom: 
                map.get(border.$size, thin) 
                solid 
                var(--primary-bg-em)
            ;
        }
    }
}

// Buttons Style
.button-l {
    // Style for all buttons
    &-highlight, &-alert, &-success, &-warning, &-danger {
        border-radius: map.get(border.$radius, l);
        padding: map.get(spacing.$padding, m);
        color: var(--secondary-fg);
        background-color: var(--secondary-bg);

        &:hover {
            background-color: var(--secondary-bg-em);
        }
    }

    // Style for highlight button
    &-highlight {
        color: var(--text-light);
        background-color: var(--highlight-fg);
        &:hover {
            background-color: var(--highlight-fg-em);
        }
    }
}
