@use "../mixins/_layout.scss";

.sidebar {
    @include layout.make-col(100%);
    
    color: var(--primary-fg);
    background-color: var(--primary-bg);
    
    border-right: 3px solid var(--primary-bg-em);
}