// Font sizes
$font-size: (
    h1: 2.5rem,
    h2: 2rem,
    h3: 1.75rem,
    h4: 1.5rem,
    h5: 1.25rem,
    h6: 1rem,
    p: 1rem
);

// Line spacing options
$line-spacing: (
    double-spaced: 2em,
    loose: 1.75em,
    normal: 1.5em,
    tight: 1.25em,
    none: 1em
);

// Padding sizes
$padding: (
    xxl: 1.5rem,
    xl: 1.25rem,
    l: 1rem,
    m: 0.75rem,
    s: 0.5rem,
    xs: 0.25rem
);

