@use "sass:map";
@use "config";

:root {
    // Set default theme
    @each $color in map.keys(config.$base) {
        --#{$color}: map.get(config.$base, $color);
    }

    &[data-theme="dark"] {
        @each $color in map.keys(config.$dark) {
            --#{$color}: map.get(config.$dark, $color);
        }
    }
}