// Import custom var partials
// Start here

@import "../../../../node_modules/bootstrap/scss/_functions.scss";

// Override Bootstrap vars
// Start here

@import "../../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/_variables-dark.scss";

// Override Bootstrap maps
// Start here

@import "../../../../node_modules/bootstrap/scss/_maps.scss";

@import "../../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../../node_modules/bootstrap/scss/_root.scss";

// Import other Bootstrap partials as needed
@import "../../../../node_modules/bootstrap/scss/_reboot.scss";
@import "../../../../node_modules/bootstrap/scss/_utilities.scss";
@import "../../../../node_modules/bootstrap/scss/utilities/_api.scss";
@import "../../../../node_modules/bootstrap/scss/_grid.scss";
@import "../../../../node_modules/bootstrap/scss/_type.scss";

// Import custom partials
@import "_layoutUtils.scss";